.topWrapper {
  width: 96vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh 2vw;
  color: #FFF;
}

.topLeft,
.topRight {
  width: 43vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  display: flex;
  align-items: center;
  color: #FFF;
}

.hourWrapper {
  width: 97vw;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  color: #FFF;
  overflow-y: auto;
  padding: 2vh 0;
  margin: 0 1vw;
}

.hourDiv {
  margin: 0.5vh 0.1vw 0 0.1vw;
  border-radius: 10px;
  min-width: 4.8vw;
  max-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.2vh 0;
  cursor: pointer;
}

.celsiusText {
  font-size: 2.5rem;
  margin: 0;
}

.weatherIcon {
  width: 43vw;
}

.hourWeatherIcon {
  height: 100%;
}

.botWeatherIcon {
  width: 100%;
}

.botWrapper {
  width: 100vw;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}

.dateDiv {
  margin: 0.5vh 1vw 0 1vw;
  padding: 2vh 0;
  border-radius: 10px;
  width: 40vw;
  max-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 0.2vh 0;
  cursor: pointer;
  color: #FFF;
}

@media only screen and (min-width: 600px) {

  .weatherIcon {
    width: 50%;
  }
  .botWeatherIcon {
    width: 15%;
  }
}