.bar {
  width: 100vw;
  height: 5vh;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  color: #F0EAD6;
}

.tempestDiv {
  display: flex;
  width: 42vw;
  height: 100%;
  margin: 0 4vw;
  justify-content: center;
  align-items: center;
}

.navImage {
  height: 20vh;
}

.searchDiv {
  display: flex;
  width: 50vw;
  height: 100%;
  padding-right: 2vw;
  justify-content: end;
  align-items: center;
}
