@font-face {
  font-family: OpenSans;
  src: url(OpenSans-VariableFont_wdth,wght.ttf);
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #58bac9;
  background: linear-gradient(180deg, rgba(88,186,201,1) 10%, rgb(67, 92, 119) 85%);
  font-family: OpenSans;
}
